body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    background-color: #ffffff;
    margin: 50px auto;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }
  
  
  
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    font-size: 16px;
    background-color: #f9f9f9;
  }
  
  .nutrition-info {
    background-color: #f1f5f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    margin-top: 10px;
  }
  
  .nutrition-info h3 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #374151;
  }
  
  .submit-btn {
    text-align: center;
    margin-top: 30px;
  }
  
  .submit-btn button {
    padding: 12px 30px;
    font-size: 18px;
    background-color: rgb(255, 85, 0);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn button:hover {
    background-color: #ff9204;
  }
  .input-group select {
      width: 100%;
      padding: 12px;
      border-radius: 6px;
      border: 1px solid #cdcdcd;
      margin-top: 5px;
      font-size: 16px;
    }
    